.banner .swiper {
    width: 240px;
    height: 320px;
  }
  
.banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
.banner .swiper-slide:nth-child(1n) {
    background-image:url(' https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1651622856i/60657589.jpg'); 
  }
 
.banner .swiper-slide:nth-child(2n) {
    background-image:url('https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1671274907i/62060274.jpg'); 
  }
  
.banner .swiper-slide:nth-child(3n) {
    background-image:url('https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1686576214l/64623481.jpg'); 
  }
  
.banner .swiper-slide:nth-child(4n) {
    background-image:url('https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1684817680l/62926992.jpg'); 
  } 
  
.banner .swiper-slide:nth-child(5n) {
    background-image:url('https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1684817915l/63033521.jpg'); 
  }